{% import './templates/drives.j2' as drives %}
{% if libvirt_extra_storage_drive_ide | default(false) %}
{{ drives.gen_drive_ide(libvirt_extra_storage_drive_count,
			kdevops_storage_pool_path,
			hostname,
			libvirt_extra_drive_format,
			libvirt_aio_mode,
			libvirt_aio_cache_mode) }}
{% elif libvirt_extra_storage_drive_virtio %}
{% if libvirt_enable_largeio | default(false) %}
{{ drives.gen_drive_large_io_virtio(qemu_extra_drive_largeio_compat,
				    qemu_largeio_compat_size,
				    qemu_largeio_max_pow_limit,
				    qemu_extra_drive_largeio_num_drives_per_space,
				    hostname,
				    libvirt_extra_drive_format,
				    libvirt_aio_mode,
				    libvirt_aio_cache_mode,
				    kdevops_storage_pool_path) }}
{% else %}
{{ drives.gen_drive_virtio(libvirt_extra_storage_drive_count,
                           kdevops_storage_pool_path,
                           hostname,
                           libvirt_extra_drive_format,
                           libvirt_aio_mode,
                           libvirt_aio_cache_mode,
                           libvirt_extra_storage_virtio_logical_block_size,
                           libvirt_extra_storage_virtio_physical_block_size) }}
{% endif %}
{% elif libvirt_extra_storage_drive_scsi %}
{{ drives.gen_drive_scsi(libvirt_extra_storage_drive_count,
                         kdevops_storage_pool_path,
                         hostname,
                         libvirt_extra_drive_format,
                         libvirt_aio_mode,
                         libvirt_aio_cache_mode) }}
{% elif libvirt_extra_storage_drive_nvme  %}
{% if libvirt_enable_largeio | default(false) %}
{{ drives.gen_drive_large_io_nvme(qemu_extra_drive_largeio_compat,
				  qemu_largeio_compat_size,
				  qemu_largeio_max_pow_limit,
				  qemu_extra_drive_largeio_num_drives_per_space,
				  hostname,
				  libvirt_extra_drive_format,
				  libvirt_aio_mode,
				  libvirt_aio_cache_mode,
				  kdevops_storage_pool_path) }}
{% else %}
{{ drives.gen_drive_nvme(libvirt_extra_storage_drive_count,
			 kdevops_storage_pool_path,
			 hostname,
			 libvirt_extra_drive_format,
			 libvirt_aio_mode,
			 libvirt_aio_cache_mode,
			 libvirt_extra_storage_nvme_logical_block_size) }}
{% endif %}
{% endif %}
{% if bootlinux_9p | default(false) %}
  {{ drives.gen_9p_mount(bootlinux_9p_driver,
			 bootlinux_9p_fsdev,
			 bootlinux_9p_host_path,
			 bootlinux_9p_mount_tag,
			 bootlinux_9p_security_model,
			 10) }}
{% endif %}
{% if docker_mirror_9p | default(false) %}
  {{ drives.gen_9p_mount(docker_mirror_9p_driver,
			 docker_mirror_9p_fsdev,
			 docker_mirror_9p_host_path,
			 docker_mirror_9p_mount_tag,
			 docker_mirror_9p_security_model,
			 11) }}
{% endif %}
