[{{ smbd_add_share_volname }}]
        path={{ smbd_share_path }}/{{ smbd_add_share_volname }}
        browseable = Yes
        read only = No
        create mask = 0664
        directory mask = 0775

