{# Workflow template for mmtests #}
[all]
localhost ansible_connection=local
{% if ansible_inventory_mmtests_enabled_test_types %}
{% for test_type in ansible_inventory_mmtests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ test_type }}
{% if kdevops_baseline_and_dev | default(false) | bool %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
{% endif %}
{% endfor %}
{% else %}
{{ kdevops_host_prefix }}-mmtests
{% if kdevops_baseline_and_dev | default(false) | bool %}
{{ kdevops_host_prefix }}-mmtests-dev
{% endif %}
{% endif %}

[all:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

[baseline]
{% if ansible_inventory_mmtests_enabled_test_types %}
{% for test_type in ansible_inventory_mmtests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ test_type }}
{% endfor %}
{% else %}
{{ kdevops_host_prefix }}-mmtests
{% endif %}

[baseline:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% if kdevops_baseline_and_dev | default(false) | bool %}
[dev]
{% if ansible_inventory_mmtests_enabled_test_types %}
{% for test_type in ansible_inventory_mmtests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
{% endfor %}
{% else %}
{{ kdevops_host_prefix }}-mmtests-dev
{% endif %}

[dev:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% endif %}
[mmtests]
{% if ansible_inventory_mmtests_enabled_test_types %}
{% for test_type in ansible_inventory_mmtests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ test_type }}
{% if kdevops_baseline_and_dev | default(false) | bool %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
{% endif %}
{% endfor %}
{% else %}
{{ kdevops_host_prefix }}-mmtests
{% if kdevops_baseline_and_dev | default(false) | bool %}
{{ kdevops_host_prefix }}-mmtests-dev
{% endif %}
{% endif %}

[mmtests:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% if ansible_inventory_mmtests_enabled_test_types %}
{% for test_type in ansible_inventory_mmtests_enabled_test_types %}
[mmtests_{{ test_type | replace('-', '_') }}]
{{ kdevops_host_prefix }}-{{ test_type }}
{% if kdevops_baseline_and_dev | default(false) | bool %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
{% endif %}

[mmtests_{{ test_type | replace('-', '_') }}:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% endfor %}
{% endif %}
