# SPDX-License-Identifier: copyleft-next-0.3.1
#
# [ Makefile Parameters ]
#
# Enable Makefile Verbosity
# V = 1
#
# Configure Ansible Verbosity Level (V = {1..6})
# AV = 1
#
# Run command on defined targets
# HOSTS="host1 host2"
#
# [ Ansible Configuration ]
#
# ANSIBLE_CFG_CALLBACK_PLUGIN = "dense"
# ANSIBLE_CFG_INTERPRETER_PYTHON = "/usr/bin/env python3"
# ANSIBLE_CFG_FORKS = "5"
# KDEVOPS_HOSTS = "$(TOPDIR_PATH)/hosts"
#
# [ Workflows ]
#
# KDEVOPS_HOSTS_PREFIX = "kdevops"
#
# [ Workflow: fstests ]
#
# Running fstests against only a set of tests
# TESTS = "generic/531 xfs/008 xfs/013"
#
# Running fstests from a specific starting point
# START_AFTER = "generic/451"
#
# SOAK_DURATION = ""
# FSTESTS_GROUP = ""
#
# [ Workflow: linux ]
#
# LINUX_TREE = ""
# LINUX_TREE_REF = ""
# B4_MESSAGE_ID = ""
