# SPDX-License-Identifier: copyleft-next-0.3.1
# Kconfig fragment to enable git bisection with custom script
# Usage: scripts/merge-configs.sh defconfigs/linux-modules-kpd defconfigs/configs/bisection.config

# Enable bisection
CONFIG_BOOTLINUX_BISECT_ENABLE=y

# Use custom bisection script
CONFIG_BOOTLINUX_BISECT_SCRIPT_CUSTOM=y
CONFIG_BOOTLINUX_BISECT_SCRIPT_CUSTOM_PATH="bisect-kmod-perf.sh"
