CONFIG_BOOTLINUX=y
CONFIG_BOOTLINUX_9P=y
CONFIG_BOOTLINUX_CUSTOM=y
CONFIG_BOOTLINUX_TREE_CUSTOM_NAME="linux"
CONFIG_BOOTLINUX_TREE_CUSTOM_URL="/mirror/linux.git"
CONFIG_BOOTLINUX_TREE_CUSTOM_REF="v6.15"
CONFIG_BOOTLINUX_TREE_NAME="linux"
CONFIG_BOOTLINUX_TREE="/mirror/linux.git"
CONFIG_LATEST_BOOTLINUX_TREE_REF="v6.15"
CONFIG_BOOTLINUX_TREE_REF="v6.15"
CONFIG_BOOTLINUX_AB_SAME_REF=y
