CONFIG_KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH=y
CONFIG_KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH_TYPE_EACH=y
CONFIG_KDEVOPS_DYNAMIC_PCIE_PASSTHROUGH_0006=y
CONFIG_KDEVOPS_DYNAMIC_PCIE_PASSTHROUGH_0006_TARGET_GUEST="kci-18051236464-20-xfs-reflink-4k"
CONFIG_KDEVOPS_DYNAMIC_PCIE_PASSTHROUGH_0007=y
CONFIG_KDEVOPS_DYNAMIC_PCIE_PASSTHROUGH_0007_TARGET_GUEST="kci-18051236464-20-xfs-reflink-4k"
CONFIG_SYSBENCH_DEVICE_BASELINE="/dev/disk/by-id/nvme-X4154S174361TNVF_S7PBNE0X200406_1"
