CONFIG_LIBVIRT_EXTRA_STORAGE_DRIVE_NVME=y
CONFIG_SYSBENCH_FS_XFS=y
CONFIG_SYSBENCH_XFS_SECTION_REFLINK_4K=y
CONFIG_SYSBENCH_XFS_SECTOR_SIZE_4K=y
CONFIG_SYSBENCH_POSTGRESQL_CONF_DEFAULT=y
CONFIG_SYSBENCH_TEST_DURATION=600
CONFIG_SYSBENCH_DEVICE_BASELINE="/dev/disk/by-id/nvme-QEMU_NVMe_Ctrl_kdevops1"
CONFIG_SYSBENCH_DEVICE_DEV="/dev/disk/by-id/nvme-QEMU_NVMe_Ctrl_kdevops1"
