[all]
localhost ansible_connection=local
{% for test_type in enabled_sysbench_tests %}
{{ kdevops_host_prefix }}-{{ test_type }}
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
{% endif %}
{% endfor %}
[all:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[baseline]
{% if not skip_bringup %}
{% for test_type in enabled_sysbench_tests %}
{{ kdevops_host_prefix }}-{{ test_type }}
{% endfor %}
{% else %}
localhost ansible_connection=local
{% endif %}
[baseline:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[dev]
{% if kdevops_baseline_and_dev %}
  {% for test_type in enabled_sysbench_tests %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
  {% endfor %}
{% endif %}
[dev:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
