[all]
localhost ansible_connection=local
{% for s in gitr_enabled_hosts %}
{{ kdevops_host_prefix }}-{{ s }}
{% if kdevops_baseline_and_dev | default(false) | bool %}
{{ kdevops_host_prefix }}-{{ s }}-dev
{% endif %}
{% endfor %}
[all:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"

[baseline]
{% for s in gitr_enabled_hosts %}
{{ kdevops_host_prefix }}-{{ s }}
{% endfor %}
[baseline:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"

[dev]
{% if kdevops_baseline_and_dev | default(false) | bool %}
  {% for s in gitr_enabled_hosts %}
{{ kdevops_host_prefix }}-{{ s }}-dev
  {% endfor %}
{% endif %}
[dev:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% if kdevops_enable_iscsi | default(false) | bool %}

[iscsi]
{{ kdevops_hosts_prefix }}-iscsi
[iscsi:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% endif %}
{% if kdevops_nfsd_enable | default(false) | bool %}

[nfsd]
{{ kdevops_hosts_prefix }}-nfsd
[nfsd:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% endif %}
{% if kdevops_enable_iscsi | default(false) | bool or kdevops_nfsd_enable | default(false) | bool %}
[service]
{% if kdevops_enable_iscsi | default(false) | bool %}
{{ kdevops_hosts_prefix }}-iscsi
{% endif %}
{% if kdevops_nfsd_enable | default(false) | bool %}
{{ kdevops_hosts_prefix }}-nfsd
{% endif %}
[service:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% endif %}
