# SPDX-License-Identifier: copyleft-next-0.3.1
#
# Backend-agnostic QEMU build knobs. Both libvirt (Kconfig.libvirt
# QEMU_BIN_PATH_LIBVIRT consumer) and qsu (Kconfig.qemu_system_units
# QEMU_SYSTEM_UNITS_QEMU_BINARY consumer) read the artefacts this
# fragment produces, so the symbols here must stay reachable
# regardless of the selected bringup backend. The fragment is
# sourced unconditionally from kconfigs/Kconfig.bringup.

config QEMU_BUILD
	bool "Should we build QEMU for you?"
	select NEEDS_LOCAL_DEVELOPMENT_PATH
	help
	  You only want to enable this option if your distribution package
	  of QEMU does not have support for the features you need. For
	  example this may be useful if you are a QEMU developer or are
	  relying on technology is still under development or if you have
	  a custom QEMU git URL.

if !QEMU_BUILD

config QEMU_USE_DEVELOPMENT_VERSION
	bool "Should we look for a development version of QEMU?"
	help
	  You want to enable this option if for example the currently
	  available version of QEMU does not yet have support for the feature
	  you are going to be working on.

	  Say yes here if you are compiling your own version of QEMU.

endif # !QEMU_BUILD

if QEMU_BUILD

choice
	prompt "QEMU git URL to use"
	default QEMU_BUILD_JIC23

config QEMU_BUILD_UPSTREAM
	bool "https://gitlab.com/qemu-project/qemu.git"
	help
	  Select this option if you want to use the upstream QEMU git repo.

config QEMU_BUILD_JIC23
	bool "https://gitlab.com/jic23/qemu.git"
	help
	  Select this option if you want to use Cameron's QEMU git repo.
	  This has a few CXL bells and whistles which are not yet upstream.

config QEMU_BUILD_MANUAL
	bool "Custom QEMU git URL"
	help
	  Select this option if you want to specify your own git URL.

endchoice

config QEMU_BUILD_GIT
	string "Git tree for QEMU to clone on localhost"
	default "/mirror/qemu.git" if USE_LOCAL_LINUX_MIRROR && QEMU_BUILD_UPSTREAM || QEMU_BUILD_MANUAL
	default "/mirror/qemu-jic23.git" if USE_LOCAL_LINUX_MIRROR && QEMU_BUILD_JIC23
	default DEFAULT_QEMU_GITHUB_HTTPS_URL if !USE_LOCAL_LINUX_MIRROR && QEMU_BUILD_UPSTREAM || QEMU_BUILD_MANUAL
	default DEFAULT_QEMU_JIC23_GITHUB_HTTPS_URL if !USE_LOCAL_LINUX_MIRROR && QEMU_BUILD_JIC23
	help
	  This is the git URL to use to clone and then build QEMU for you on
	  your localhost.

config QEMU_BUILD_GIT_DATA_PATH
	string "The destination directory where to clone the QEMU git tree"
	default "{{local_dev_path}}/qemu"
	help
	  This is the target location of where to clone the above git tree.
	  Note that {{local_dev_path}} corresponds to the location set by the
	  configuration option CONFIG_NEEDS_LOCAL_DEVELOPMENT_PATH.

config QEMU_BUILD_GIT_VERSION
	string "The version of QEMU to build"
	default "cxl-2023-05-19" if QEMU_BUILD_JIC23
	default "v8.0.0-rc1" if QEMU_BUILD_UPSTREAM
	help
	  This is the target build version of QEMU to build. Please use
	  at least v7.2.0 for CXL support. v8.0.0-rc1 has some build fixes
	  for newer compilers so it is the default now.

config QEMU_USE_DEVELOPMENT_VERSION
	bool
	default y

endif # QEMU_BUILD
